[submodule "src/app/pomodoro"]
	path = src/app/pomodoro
	url = https://github.com/2019-BLM441/module-160201027.git


[submodule "src/app/todolist"]
	path = src/app/todolist
	url = https://github.com/2019-BLM441/module-160201073.git
